:root {
   --color-main: #434455;
   --color-logo: #4d5ae5; 
   --color-link: #2e2f42; 
   --color-hover: #404bbf;
   --color-background: #FFFFFF; 
   --background-team: #F4F4FD;
   --color-hover-icon: #31D0AA;
   --subtle-text: #8E8F99;
   --accent: #E7E9FC;
   --modal-overlay: rgba(46, 47, 66, 0.4);
   --modal-background:  #FCFCFC;
}
body{
   font-family: 'Roboto', sans-serif;
   background: var(--color-background);
   color: var(--color-main);
}
.list {
   list-style: none;
   margin: 0;
   padding: 0;
}
.link {
   text-decoration: none;
}
.container {
   margin: 0 auto;
   padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, ul, p {
   margin: 0;
   padding: 0;
}
img {
   max-width: 100%;
   height: auto;
}
.no-scroll {
   overflow: hidden;
}
section {
   margin: 0 auto;
}
/* ------------------------INDEX----------------------- */

/* ------------------------HEADER----------------------- */
.border-header {
   border-bottom: 1px solid var(--accent);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-mob-wrap {
   display: none;
}
.header-container {
   display: flex; 
}
.header-nav {
   display: flex;
   align-items: center;
   margin-right: auto;
}
.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
   /* margin-right: 76px; */
   margin-right: 120px;
   padding-top: 24px;
   padding-bottom: 24px;
}
.studio-top {
   color: var(--color-link);
}
.header-list {
   display: flex;
   gap: 40px;
}
.header-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-link);
   padding-top: 24px;
   padding-bottom: 24px;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.corrent {
   position: relative;
} 
.corrent::after{
   position: absolute;
   content: '';
   display: block;
   width: 100%;
   height: 4px;
   left: 0px;
   bottom: -4px;
   background-color: var(--color-hover);
   border-radius: 2px;
}
.header-link:is( :hover, :focus){
   color: var(--color-hover);
}
.address-list {
   width: 120px;
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   margin-top: 16px;
   margin-bottom: 16px;

}
.address {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #434455;
   padding-top: 16px;
   padding-bottom: 16px;
}
.header-address {
   font-style: normal;
}
.address-list {
   /* display: flex;
   gap: 40px;
   padding-top: 24px;
   padding-bottom: 24px; */
}
.address:is( :hover, :focus){
   color: var(--color-hover);
}
/* ------------------------HERO----------------------- */
.hero {
   position: relative;
   background: var(--hero-background);
   padding-top: 112px;
   padding-bottom: 112px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   background-origin: border-box;
   margin: auto;
}
.hero-title {
   max-width: 320px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #FFFFFF;
   margin: auto;
   margin-bottom: 72px;
}
.hero-btn {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--color-background);
   cursor: pointer;
   background-color: var(--color-logo);
   padding: 16px 32px 16px 32px;
   display: block;
   margin: auto;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:is( :hover, :focus) {
   background-color: var(--color-hover);
}
/* ------------------------MAIN----------------------- */  
.main {
   padding: 0;
}
/* ------------------------ABOUT----------------------- */
.about {
   /* padding-top: 120px;
   padding-bottom: 120px; */
   padding-top: 96px;
   padding-bottom: 96px;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.about-items {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   /* gap: 24px; */
   gap: 72px;
}
.about-list-icon {
   display: none;
}
.about-list-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2E2F42;
   margin-bottom: 8px;
}
.about-list-text {
   max-width: 396px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
/* ------------------------DOING----------------------- */
.doing {
   display: none;
}
/* ------------------------TEAM----------------------- */
.team {
   max-width: 1440px;
   background: var(--background-team);
   /* padding-top: 120px;
   padding-bottom: 120px; */
   padding-top: 96px;
   padding-bottom: 96px;
   margin: auto;
}
.teams-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--color-link);
   margin-bottom: 72px;
}
.item-team {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* gap: 24px; */
   gap: 72px;
}
.team-list {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
   background-color: var(--color-background);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-wrap {
   padding-top: 32px;
   padding-bottom: 32px;
}
.team-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
   margin-bottom: 8px;
}
.team-text {
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-main);
   margin-bottom: 8px;
}
.team-soc-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
   margin-left: 16px;
   margin-right: 16px;
}
.team-soc-item {
   width: 40px;
   height: 40px;
}
.team-soc-link {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background: var(--color-logo);
   display: flex;
   align-items: center;
   justify-content: center;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:is(:hover, :focus) {
   background: var(--color-hover);
}
.team-soc-icon {
   width: 16px;
   height: 16px;
}
/* ------------------------CUSTOMERS----------------------- */
.customers {
   /* max-width: 1440px;
   margin: auto;
   padding-top: 120px;
   padding-bottom: 120px; */
   max-width: 428px;
   padding-top: 96px;
   padding-bottom: 96px;
}
.customers-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
}
.customers-list {
   display: flex;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   gap: 72px 16px;

}
.customers-link {
   width: 168px;
   height: 88px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: 1px solid var(--subtle-text);
   border-radius: 5px; 
   fill: var(--subtle-text);
   transition-property: fill, border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   

}
.customer-icon {
   width: 104px;
   height: 56px;
}
.customers-link:is( :hover, :focus) {
   fill: var(--color-hover);
   border: 1px solid var(--color-hover);
}
/* ------------------------FOOTER----------------------- */
.footer {
   background: var(--color-link);
   margin: auto;
   /* padding-top: 100px;
   padding-bottom: 100px;   */
   padding-top: 96px;
   padding-bottom: 96px;
}
.footer-wrap {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.footer-desc {
   /* margin-right: 120px; */
   margin-right: 24px;
}
.footer-link {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
   display: flex;
   justify-content: center;

}
.studio-footer {
   color: var(--background-team);
}
.footer-text {
   max-width: 264px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--background-team);
   margin-top: 16px;
   margin-bottom: 72px;
}
.footer-soc-title {
   font-weight: 500;
   font-size: 16px;
   line-height: calc(24/16);
   letter-spacing: 0.02em;
   color: var(--color-background);
   margin-bottom: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-soc-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-bottom: 72px;
}
.footer-soc-item {
   width: 40px;
   height: 40px;
}
.footer-soc-link {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background: var(--color-logo);
   display: flex;
   align-items: center;
   justify-content: center;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:is(:hover, :focus) {
   background: var(--color-hover-icon);
}
.footer-soc-icon {
   width: 24px;
   height: 24px;
}
.footer-form {
   /* margin-left: 80px; */

}
.footer-form-wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 24px;

}
.footer-form-input {
   width: 264px;
   height: 40px;
   font-size: 12px;
   line-height: 2;
   display: flex;
   align-items: center;
   letter-spacing: 0.04em;
   color: var(--color-background);
   border: 1px solid var(--color-background);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   outline: transparent;
   background-color: transparent;
   padding: 8px 16px;
   /* margin-top: 16px;
   margin-bottom: 16px; */
   /* margin-right: 24px; */
}
.footer-form-btn {
   width: 164px;
   height: 40px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--color-background);
   padding: 8px 24px;
   display: flex;
   align-items: center;
   justify-content: baseline;
   background-color: var(--color-logo);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
}
.footer-form-btn:is( :hover, :focus) {
   background-color: var(--color-hover);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}
.footer-subscrib-icon {
   position: absolute;
   width: 24px;
   height: 24px;
   right: 24px;
}
/* -----------------PORTFOLIO---------------- */
main {
   padding-top: 96px;
   padding-bottom: 72px;
}
.main-title{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.btn {
   display: flex;
   gap: 24px;
   justify-content: center;
   margin-bottom: 72px;
}
.main-button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--color-logo);
   background: var(--background-team);
   border: 1px solid var(--accent);
   cursor: pointer;
   padding: 12px 24px 12px 24px;
   border-radius: 4px;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:is(:hover, :focus) {
   color: var(--color-background);
   background: var(--color-hover);
   cursor: pointer;
   border: none;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   gap: 48px 24px;
}
.portfolio-shadow {
   overflow: hidden;
   display: block;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-shadow:is( :hover, :focus) {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-shadow:is( :hover, :focus) .portfolio-overlay-text{
   transform: translate(0);
}
.portfolio-overlay {
   position: relative;
   overflow: hidden;
}
.portfolio-overlay-text {
   position: absolute;
   top: 0;
   height: 100%;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: var(--background-team);
   padding: 40px 32px;
   background-color: var(--color-logo);
   transform: translateY(100%);
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .border-portfolio {
   border: 1px solid var(--accent);
   border-top: none;
   padding: 32px 16px;
}
 .list-item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
   margin-bottom: 8px;
}
.list-item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-main);
}

/* -----------------BACKDROP---------------- */

.backdrop {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scaleY(0);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
   position: absolute;
   /* width: 408px;
   min-height: 576px; */
   width: 392px;
   min-height: 586px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scaleY(1);
   background-color: var(--modal-background);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   padding: 24px;
}
.modal-icon-btn {
   width: 24px;
   height: 24px;
   background-color: var(--accent);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   display: block;
   margin-left: auto;
}
.modal-icon-btn:is( :hover, :focus) {
   background-color: #404BBF;
   border-radius: 50%;  
}

.modal-icon-close {
   width: 8px;
   height: 8px;
   color: var(--color-link);
}
.modal-icon-btn:is( :hover, :focus) .modal-icon-close {
   fill: #FFFFFF;
}
.modal-title {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
   margin-top: 24px;
   margin-bottom: 16px;
   text-align: center;
}
.modal-form {
   border-radius: 4px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.modal-field {
   margin-bottom: 8px;
}
.modal-label {
   display: inline-block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--subtle-text);
   margin-bottom: 4px;
}
.input-wrap {
   position: relative;
}
.modal-input {
   width: 360px;
   height: 40px;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.01em;
   color: var(--subtle-text);
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   padding-left: 38px;
   background-color: transparent;
   outline: transparent;
}
.modal-input:focus {
   border-color: var(--color-logo);
}
.modal-input:focus + .modal-icon {
   fill: var(--color-logo);
}
.modal-icon {
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   width: 18px;
   height: 24px;
}
.checkbox-wrap {
   margin-top: 16px;
   margin-bottom: 24px;
}
.modal-text {
   width: 360px;
   height: 120px;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   outline: transparent;
   padding: 8px 16px;
   resize: none;
}
.modal-checkbox {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17px;
   letter-spacing: 0.04em;
   color: var(--subtle-text);
   display: flex;
   align-items: center;

}
.icon-check {
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px; 
   margin-right: 8px;
   
}
.modal-click:checked + .modal-checkbox .icon-check {
   width: 16px;
   height: 16px;
   background-color: #404BBF;
   border: 1px solid #404BBF;
   border-radius: 2px;
   border: none;
   background-image: url(../images/icons.svg.svg#icon-check);
  
}
   
.modal-link {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   text-decoration-line: underline;
   color: var(--color-logo);
   padding-left: 4px;
}
.modal-btn {
   width: 169px;
   height: 56px;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(24 / 16);
   letter-spacing: 0.04em;
   color: var(--color-background);
   background-color: var(--color-logo);
   border: none;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   display: flex;
   align-items: center;
   justify-content: center;
}
.modal-btn:is( :hover, :focus) {
   background-color: var(--color-hover); 
}